.footer {
  background-color: #45503B;
  margin-top: 5rem;
  /* bottom: 0; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #E5EBEA;
  padding-block: 10px;
}

.ul__footer {
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #E5EBEA;
}
