@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

* {
  margin: 0;
  font-family: 'Aoboshi One', serif;
}

body {
  background-color: #d4d4d4;
}

#page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 74vh;
}

.container__navbar-right {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}

.img {
  border-radius: 5%;
  position: absolute;
}

a {
  text-decoration: none;
}
