.p__home {
  margin: 2rem;
  margin-bottom: 0;
  /* padding: 10px; */
  color: #000;
  /* font-family: Arial, sans-serif; */
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  tab-size: 8;
}

.h1__home {
  margin-top: 1.5rem;
}

.h1__home--centralized {
  margin-inline: auto;
}

.p__home--margin-right {
  margin-right: 22rem;
}

.p__home--no-margin {
  padding-top: 0;
  margin-top: 0;
}

.img__typing {
  right: 0;
  margin-top: 1.3rem;
  margin-right: 1.3rem;
}

.container__title {
  width: 100vw;
}

